@import "variables";
@import "transition";
@import "mixin";
@import "sidebar";
@import "navbar";


//.el-dropdown-menu {
//  padding: 0!important;
//}

/*** App  **/
.app-main-footer {
  border-top: 1px solid #c0ccda;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50px;
}
.app-main {
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}
.fixed-header+.app-main { }
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;

  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}
.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$sidebar-width});
  transition: width 0.28s;
}
.hideSidebar .fixed-header {
  width: calc(100% - #{$sidebar-hide-width})
}
.mobile .fixed-header {
  width: 100%;
}
/*** END App  **/
