@import "variables";

/*** sidebar LOGO  **/
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}
.sidebarLogoFade-enter, .sidebarLogoFade-leave-to {
  opacity: 0;
}
.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: $dashboard-navbar-height;
  line-height: $dashboard-navbar-height;
  background: $sidebar-bg;
  border-bottom: 1px solid $sidebar-border-color; //  #7f7b7b
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  .sidebar-logo-link {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    .sidebar-logo {
      width: 32px;
      height: 32px;
      margin-right: 15px;
    }
    .sidebar-title {
      color: $sidebar-active-color;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}
/*** END sidebar LOGO  **/

/*** sidebar  **/
.main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: $sidebar-width;
  position: relative;
}

.sidebar-container {
  transition: width 0.28s;
  width: $sidebar-width!important;
  background-color: $sidebar-bg;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .scrollbar-wrapper {
    overflow-x: hidden!important;
  }
  .el-scrollbar__bar.is-vertical {
    right: 0px;
  }
  .el-scrollbar {
    height: 100%;
  }
  .has-logo {
    .el-scrollbar {
      height: calc(100% - #{$dashboard-navbar-height});
    }
  }
  .is-horizontal {
    display: none;
  }
  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-decoration: none!important;
  }
  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }
  .el-menu-item {
    background-color: $sidebar-bg!important;
    color: $sidebar-color!important;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    padding: 0 20px;
  }
  .el-submenu {
    background-color: $sidebar-bg!important;
    color: $sidebar-color!important;
    .el-submenu__title {
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      padding: 0 20px;
    }
  }
  .el-menu-item-icon {
    margin-right: 16px;
    font-size: 14px;
    color: $sidebar-color!important;
  }
  .el-menu-item.submenu-title-noDropdown {
    &.is-active, &:hover {
      background: $sidebar-item-active--bg!important;
      color: $sidebar-active-color!important;
      .el-menu-item-icon {
        color: $sidebar-active-color!important;
      }
    }
  }
  .el-submenu .el-submenu__title {
    background-color: $sidebar-bg!important;
    color: $sidebar-color!important;
  }
  .el-submenu.is-active .el-submenu__title, .el-submenu:hover .el-submenu__title  {
    background: $sidebar-item-active--bg!important;
    color: $sidebar-active-color!important;
    .el-menu-item-icon {
      color: $sidebar-active-color!important;
    }
  }
  .nest-menu .el-submenu>.el-submenu__title, .el-submenu .el-menu-item {
    min-width: $sidebar-width!important;
    background-color: $sidebar-bg !important;
    color: $sidebar-color!important;
    &.is-active, &:hover {
      color: $sidebar-active-color!important;
      .el-menu-item-icon {
        color: $sidebar-active-color!important;
      }
    }
  }
  .nest-menu .el-menu-item{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 30px!important;
  }
}

.hideSidebar {
  .sidebar-container {
    width: $sidebar-hide-width !important;
  }
  .main-container {
    margin-left: $sidebar-hide-width;
  }
  .submenu-title-noDropdown {
    padding: 0 !important;
    position: relative;
    .el-tooltip {
      padding: 0 !important;
      .el-menu-item-icon {
        margin-left: 25px!important;
      }
    }
  }
  .el-submenu {
    overflow: hidden;
    &>.el-submenu__title {
      padding: 0 !important;
      .el-menu-item-icon {
        margin-left: 25px!important;
      }
      .el-submenu__icon-arrow {
        display: none;
      }
    }
  }

  .el-menu--collapse {
    .el-submenu {
      &>.el-submenu__title {
        &>span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
  }
}

.el-menu--collapse .el-menu .el-submenu {
  min-width: $sidebar-width!important;
}

// mobile responsive
.mobile {
  .main-container {
    margin-left: 0px;
  }

  .sidebar-container {
    transition: transform .28s;
    width: $sidebar-width!important;
  }

  &.hideSidebar {
    .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$sidebar-width, 0, 0);
    }
  }
}

.withoutAnimation {
  .main-container, .sidebar-container {
    transition: none;
  }
}
// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .el-menu-item-icon {
      margin-right: 16px;
    }
  }
  .el-menu-item{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    padding: 0 30px!important;
  }
  .nest-menu .el-submenu>.el-submenu__title, .el-menu-item {
    background-color: $sidebar-item-bg!important;
    color: $sidebar-color!important;
    i {
      color: $sidebar-color!important;
    }
    &:hover {
      // you can use $subMenuHover
      background-color: $sidebar-item-active--bg!important;
      color: $sidebar-active-color!important;
      i {
        color: $sidebar-active-color!important;
      }
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

/*** END sidebar  **/
