@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "element_ui";

//@import "../theme-chalk-master/src/loading";
//@import "../theme-chalk-master/src/pagination";
//@import "../theme-chalk-master/src/dialog";

@import "box-shadows";
@import "var";

@import './dashboard/index';

.el-tabs__nav-scroll {
  overflow: auto!important;
}
.app-border {
  border: 1px solid black;
}
.ck-content {
  min-height: 400px!important;
}
img {
  width: 100%;
}
button {
  outline: none!important;
}
audio {
  outline: none!important;
  width: 100%!important;
}
a:hover {
  text-decoration: none!important;
}
.text-center {
  text-align: center;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.w-100 {
  width: 100%;
}
.app-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 9px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 9px 0px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 9px 0px;
}
//.app_dashboard_border {
//  border: 1px dashed #000000;
//}



.flex-j-a-column-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.flex-j-a-row-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}



.el-dialog__header, .el-dialog__body, .el-dialog__footer {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

//.app-el-dialog__wrapper {
//  .el-dialog__wrapper {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    flex-direction: column;
//    padding-bottom: 50px;
//    //padding-top: 100px;
//  }
//}
.el-dialog {
  .el-dialog__header {
    //background: red;
  }
  .el-dialog__headerbtn {
    background: #ffffff; // $modal-mask-bg;
    color: #ffffff!important;
    font-weight: 600;
    height: 35px;
    width: 35px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .el-dialog__body {
    //border-bottom: 4px solid $modal-mask-bg;
  }
}


/** app-scrollbar */
.app-scrollbar::-webkit-scrollbar{
  width: 10px;
  background-color: #FFFFFF; //#F5F5F5;
}
.app-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba($base-color-1 ,0.3);
  background-color:  #FFFFFF; //#F5F5F5;
}
.app-scrollbar::-webkit-scrollbar-thumb {
  background-color: $base-color-1;
  border: 1px solid  #FFFFFF; //#F5F5F5; //#555555;
}
/** END app-scrollbar */
